{% extends "ir_layout.html" %}
{% block content %}
<div class="content-section">
    <div class="media">
        <div class="profil-section" style="width:125px;height:125px;">
            <table>
                <tr>
                    <td>
                        <img class="profile-pix pf-large" src="../static/profile_pictures/default-pf-big.png">
                    </td>
                    <td>
                        <h2 class="account-heading">JabMN</h2>
                        <p>jabmn@demo.com</p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="media-body">
            <span class="in-title"><span class="high-light">7</span> Records</span>
            <span class="status">
                <table class="status-table">
                    <tr>
                        <th class="colomn1">Records</th><th class="col-b">Handled</th><th class="col-b">Pending</th><th class="col-b">Rejected</th>
                    </tr>
                    <tr>
                        <td class="status-name colomn1"><img src="../static/images/flag.png"> Red flags:</td><td class="col-handled col-b">3</td><td class="col-pend col-b">1</td><td class="col-rjt col-b">0</td>
                    </tr>
                    <tr>
                        <td class="status-name colomn1"><img src="../static/images/intervention.png"> Intervations:</td><td class="col-handled col-b">0</td><td class="col-pend col-b">2</td><td class="col-rjt col-b">1</td>
                    </tr>
                </table>
            </span>
        </div>
    </div>
</div>
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-wrap">
            <h4>Account Info</h4>
            <div class="form-wrap">
                {{ form.username.label(class="form-label") }}
                {% if form.username.errors %}
                    {{ form.username(class="form-input") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-input") }}
                {% endif %}
                
            </div>
            <div class="form-wrap">
                {{ form.email.label(class="form-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-input") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-input") }}
                {% endif %}
            </div>
            <div class="form-wrap">
                {{ form.picture.label() }}
                {{ form.picture(class="form-control-file") }}
                {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-wrap">
            {{ form.submit(class="out-line-btn") }}
        </div>
    </form>
</div>
<article class="content-section">
    <table>
        <tr>
            <td class="profile-section">
                <div class="center-image">
                    <img class="profile-pix pf-small" src="../static/profile_pictures/default-pf-small.png">
                </div>
            </td>
            <td class="body-section">
                <div class="issue-metadata">
                    <a class="issue-author" href="{{ url_for('account') }}">JabMN</a>
                    <small class="text-muted">November 16 2018</small>
                </div>
                <div class="update-buttons">
                    <span class="f-left">
                        <button class="button filled-btn update-btn" onclick="functionAlert();">Update</button>
                        <button class="button filled-btn delete-btn" onclick="functionAlert();">delete</button>
                    </span>
                    <span class="f-right">
                        <a onclick="functionAlert();"><img src="../static/images/flag.png"></a>
                    </span>
                </div>
                <h2><a class="issue-title" onclick="functionAlert();">Issue Title 1</a></h2>
                <p class="issue-content">First post content</p>
            </td>
        </tr>
    </table>
</article>
{% endblock content %}