{% extends "ir_layout.html" %}
{% block content %}
    <article class="content-section">
        <table>
            <tr>
                <td class="profile-section">
                    <div class="center-image">
                        <img class="profile-pix pf-small" src="../static/profile_pictures/default-pf-small.png">
                    </div>
                </td>
                <td class="body-section">
                    <div class="issue-metadata">
                        <a class="issue-author" href="{{ url_for('account') }}">JabMN</a>
                        <small class="text-muted">November 16 2018</small>
                    </div>
                    <div class="update-buttons">
                        <span class="f-left">
                            <button class="button filled-btn update-btn" onclick="functionAlert();">Update</button>
                            <button class="button filled-btn delete-btn" onclick="functionAlert();">delete</button>
                        </span>
                        <span class="f-right">
                            <a onclick="functionAlert();"><img src="../static/images/flag.png"></a>
                        </span>
                    </div>
                    <h2><a class="issue-title" onclick="functionAlert();">Issue Title 1</a></h2>
                    <p class="issue-content">First post content</p>
                </td>
            </tr>
        </table>
    </article>
{% endblock content %}